Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

In [1]:
"""MongoDB is a popular document-oriented, NoSQL database that provides flexible, scalable, 
  and high-performance data storage. Non-relational databases, like MongoDB, store data in a 
  way that doesn't follow the traditional tabular structure of SQL databases. They allow for 
  dynamic schema changes and offer horizontal scalability. MongoDB is preferred over SQL
  databases when dealing with large amounts of unstructured or semi-structured data, 
  real-time analytics, agile development, and the need for high availability and scalability."""

"MongoDB is a popular document-oriented, NoSQL database that provides flexible, scalable, \n  and high-performance data storage. Non-relational databases, like MongoDB, store data in a \n  way that doesn't follow the traditional tabular structure of SQL databases. They allow for \n  dynamic schema changes and offer horizontal scalability. MongoDB is preferred over SQL\n  databases when dealing with large amounts of unstructured or semi-structured data, \n  real-time analytics, agile development, and the need for high availability and scalability."

Q2. State and Explain the features of MongoDB.

In [2]:
"""The features of MongoDB include:

Document-oriented: Data is stored in flexible, JSON-like documents.
Scalability: It supports horizontal scaling and can handle large amounts of data.
High availability: It provides replica sets for automatic failover and data redundancy.
Flexible schema: Dynamic schema allows for easy data model changes.
Indexing: It supports various indexing techniques for efficient querying.
Aggregation framework: It provides powerful aggregation capabilities for data analysis."""

'The features of MongoDB include:\n\nDocument-oriented: Data is stored in flexible, JSON-like documents.\nScalability: It supports horizontal scaling and can handle large amounts of data.\nHigh availability: It provides replica sets for automatic failover and data redundancy.\nFlexible schema: Dynamic schema allows for easy data model changes.\nIndexing: It supports various indexing techniques for efficient querying.\nAggregation framework: It provides powerful aggregation capabilities for data analysis.'

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
!pip install pymongo dnspython


from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://shivam805556:shivam@cluster0.nqainwm.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
    
db=client.test
db=client["MyDataBase"]

coll_MyDB=db["my_col"]

data=[{'name':"sudh","class":"data science masters","time":"flexi"},{'name':"shivam","class":"web development","time":"flexi"}]

coll_MyDB.insert_many(data)

for i in coll_MyDB.find():
    print(i)

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython in /opt/conda/lib/python3.10/site-packages (2.3.0)
Pinged your deployment. You successfully connected to MongoDB!
{'_id': ObjectId('6486ea0c5e4a4f7c2dab1983'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ea0c5e4a4f7c2dab1984'), 'name': 'shivam', 'class': 'web development', 'time': 'flexi'}
{'_id': ObjectId('6486ec075e4a4f7c2dab1985'), 'name': 'shivam', 'roll_no': '34'}
{'_id': ObjectId('6486ec075e4a4f7c2dab1986'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ec075e4a4f7c2dab1987'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23333332556, 'addr': 'bangalore'}
{'_id': ObjectId('6486ec1f5e4a4f7c2dab1988'), 'name': 'shivam', 'roll_no': '34'}
{'_id': ObjectId('6486ec1f5e4a4f7c2dab1989'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ec1f5e4a4f7c2dab198a'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23333332556, 'addr': 'bangalore'}
{'_id': ObjectId('6486f0ca30c4466c01a79f34'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f35'), 'name': 'shivam', 'class': 'web development', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f36'), 'name': 'shivam', 'roll_no': '34'}
{'_id': ObjectId('6486f0ca30c4466c01a79f37'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f38'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23333332556, 'addr': 'bangalore'}
{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': ObjectId('6486f19bd26d23737c8aad92'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f19bd26d23737c8aad93'), 'name': 'shivam', 'class': 'web development', 'time': 'flexi'}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [4]:
data1={"name":"shivam","roll_no":"34"}
coll_MyDB.insert_one(data1)

data2=[{'name':"sudh","class":"data science masters","time":"flexi"},{"mail_id":"sudh@gmail.com","phone_number":23333332556,"addr":"bangalore"}]
coll_MyDB.insert_many(data2)

print(coll_MyDB.find_one())
print()
for i in coll_MyDB.find():
    print(i)

{'_id': ObjectId('6486ea0c5e4a4f7c2dab1983'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}

{'_id': ObjectId('6486ea0c5e4a4f7c2dab1983'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ea0c5e4a4f7c2dab1984'), 'name': 'shivam', 'class': 'web development', 'time': 'flexi'}
{'_id': ObjectId('6486ec075e4a4f7c2dab1985'), 'name': 'shivam', 'roll_no': '34'}
{'_id': ObjectId('6486ec075e4a4f7c2dab1986'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ec075e4a4f7c2dab1987'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23333332556, 'addr': 'bangalore'}
{'_id': ObjectId('6486ec1f5e4a4f7c2dab1988'), 'name': 'shivam', 'roll_no': '34'}
{'_id': ObjectId('6486ec1f5e4a4f7c2dab1989'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ec1f5e4a4f7c2dab198a'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23333332556, 'addr': 'bangalore'}
{'_id': ObjectId('6486f0ca30c4466c01a79f34'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f35'), 'name': 'shivam', 'class': 'web development', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f36'), 'name': 'shivam', 'roll_no': '34'}
{'_id': ObjectId('6486f0ca30c4466c01a79f37'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f38'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23333332556, 'addr': 'bangalore'}
{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': ObjectId('6486f19bd26d23737c8aad92'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f19bd26d23737c8aad93'), 'name': 'shivam', 'class': 'web development', 'time': 'flexi'}
{'_id': ObjectId('6486f19bd26d23737c8aad94'), 'name': 'shivam', 'roll_no': '34'}
{'_id': ObjectId('6486f19bd26d23737c8aad95'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f19bd26d23737c8aad96'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23333332556, 'addr': 'bangalore'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [5]:
"""Query the MongoDB database using the find() method, 
   you specify the criteria within the method's parameter to filter the documents. 
   It returns a cursor, and you can iterate over the cursor or convert it to an array
   to access the matching documents."""

for i in coll_MyDB.find({'name':'sudh'}):
    print(i)

{'_id': ObjectId('6486ea0c5e4a4f7c2dab1983'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ec075e4a4f7c2dab1986'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486ec1f5e4a4f7c2dab1989'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f34'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f0ca30c4466c01a79f37'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f19bd26d23737c8aad92'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6486f19bd26d23737c8aad95'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [ ]:
"""The sort() method in MongoDB is used to sort the query results 
   based on one or more fields. It allows you to specify the sorting 
   order as ascending (1) or descending (-1) for each field. Here's an example:
   
   db.collection('collection_name').find().sort({ field: 1 });"""

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
"""delete_one() method in MongoDB is used to delete a single document that matches 
   the specified criteria. 

   delete_many() is used to delete multiple documents that match the criteria. 
   These methods allow for targeted removal of specific data from the collection.

   The drop() method is used to delete an entire collection from the database, 
   effectively removing all the documents it contains. It provides a way to delete 
   collections in one operation."""